* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #CB4335;
  font-family: 'Prompt', sans-serif;
  font-size: 14px;
}
h1 {
  margin-top: 3%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

/* form area */
.form_area {
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #FBFCFC;
  box-shadow:  5px 5px 1px 0px rgba(44, 62, 80 ,0.15);
}
.row {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
.col label {
  margin-bottom: 10px;
  font-size: 16px;
  color: #CB4335;
}
input  {
  width: 180px;
  height: 34px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #CB4335;
  font-size: 16px;
}
input:focus  {
  background-color: #CB4335;
  font-size: 16px;
  color: #FBFCFC;
}
select  {
  width: 180px;
  height: 34px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #CB4335;
  font-size: 16px;
}
input::placeholder {
  text-align: center;
  font-size: 16px;
}
.btn {
  margin: 30px 15px 0 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #D0D3D4;
  border: 1px solid #5F6A6A;
  font-size: 16px;
  font-weight: 600;
  color: #CB4335;
  cursor: pointer;
}

/* ticket area */
.ticket_area {
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #FBFCFC;
  box-shadow:  5px 5px 1px 0px rgba(44, 62, 80 ,0.15);
}
.ticket_row {
  display: flex;
}
.ticket_area h3 {
  text-transform: uppercase;
}
.ticket_left {
  width: 300px;
  height: 200px;
  padding: 20px;
  background-color: #B3B6B7;
}
.ticket_left h3{
  padding-bottom: 15px;
  border-bottom: 1px solid #000;
  text-transform: capitalize;
}
.ticket_left h2{
  padding-top: 15px;
  text-transform: capitalize;
  font-weight: 600;
}
.ticket_right {
  flex-grow: 2;
  padding: 20px;
}
.ticket_right {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

th {
  padding: 15px 30px 80px 30px;
  text-align: left;
  text-transform: capitalize;
  font-size: 18px;
}
td {
  padding: 0 30px;
  text-align: left;
  text-transform: capitalize;
  font-size: 16px;
}
